
/* __________________________________________________ */
/*           #BASE                                   */
/* _________________________________________________ */

body {
    font-family: 'bellotaregular';
    margin : 0;
    padding : 0;
    font-size : 18px;
    background : transparent;
}

footer  {
  width : 100%;
}

footer img {
  float: right;
}
header {
    position :fixed;
    display : block;
    width : 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height : 40px;
    background-color : #303030;
    overflow: hidden;
    z-index : 2;
}

form {
  text-shadow : 0 0 2px #303030;
}
input[type="text"] {
  padding : 10px;
  border : none;
  border-radius : 6px;
  -webkit-box-shadow: 0px 0px 9px 0px rgba(21,197,189,1);
  -moz-box-shadow: 0px 0px 9px 0px rgba(21,197,189,1);
  box-shadow: 0px 0px 9px 0px rgba(21,197,189,1);
}

input[type="email"] {
  padding : 10px;
  border : none;
  border-radius : 6px;
  -webkit-box-shadow: 0px 0px 9px 0px rgba(21,197,189,1);
  -moz-box-shadow: 0px 0px 9px 0px rgba(21,197,189,1);
  box-shadow: 0px 0px 9px 0px rgba(21,197,189,1);
}

input[type="radio"] {

}

input[type="submit"] {
  text-decoration : none;
  background-color : #15c5bd;
  border : none;
  border-radius : 6px;
  border-radius : 10px;
  font-size : 19px;
  cursor:  pointer;
  padding : 14px 20px;
  -webkit-box-shadow: 0px 0px 9px 0px rgba(21,197,189,1);
  -moz-box-shadow: 0px 0px 9px 0px rgba(21,197,189,1);
  box-shadow: 0px 0px 9px 0px rgba(21,197,189,1);
}

select {
  padding : 10px;
}

textarea {
  width: 80%;
height: 150px;
padding: 12px 20px;
box-sizing: border-box;
border: 2px solid #ccc;
border-radius: 4px;
background-color: #f8f8f8;
font-size: 16px;
resize: none;
}

/* __________________________________________________ */
/*           #LAYOUT                                  */
/* _________________________________________________ */

#photo--cover {
    background : url("../img/raspberryPi.jpg");
    background-size : cover;
    background-position : center center;
    background-attachment : fixed;
}

.section--header, .form--contact {
  text-align: center;
  position: relative;
  width: 100%;
  background : #fff;
}

.form--title {
  font-size : 20px;
  text-shadow : 0 0 3px #303030;
  border-bottom : 1px solid #15c5bd;
}

.section--txt, .form--txt {
  min-height : 400px;
  position: relative;
}

.section--txt--position {
  position : absolute;
  top : 40%;
  height:20vh;
  margin-top:-5em;
  width : 100%;
  text-shadow : 0 0 3px #303030;
}

.section--txt--position img {
  background : white ;
  border-radius : 400px 400px 0px 0px;
}

.form--txt--position {
  position : absolute;
  display : grid;
  top : 40%;
  width : 80%;
  left : 10%;
  grid-template-areas: "form form form";
  grid-template-areas: "lfname gemail country";
  grid-template-columns: 1fr 1fr 1fr;
}




#photo--cover2 {
  background : url("../img/broken.jpg");
  background-size : cover;
  background-position : center center;
  background-attachment : fixed;
}

.section--trouble--box {
  position : relative;
  width : 100%;
}

.section--trouble--txt {
  min-height : 300px;
  position :relative;
  text-align : center;
  background : #FFF;
  padding-top : 5vh;
  text-shadow : 0 0 3px #303030;
}

.section--trouble--txt-position {
  text-align : center;
  padding-top : 8vh;
}


.validation--btn {
  text-align : center;
  margin : auto;
  padding-top : 5vh;
  padding-bottom : 5vh;
  color : white;
}

.radio {
  display: grid ;
  grid-template-areas : "radio1 radio2 radio3 radio4" ;
}

.footer--grid {
  width : 100%;
  display:grid;
  grid-template-areas: "footer--f footer--t footer--l footer--logo right";
  grid-template-columns : 1fr 1fr 1fr 1fr 1fr;
  padding-top : 20vh;
}

.footer--f, .footer--t, .footer--l, .right {
  padding : auto;
  padding-top : 50%;
  text-align :center;
}

.footer--logo {
  display : block;
  margin: auto;
}
/* __________________________________________________ */
/*           #MODULE                                 */
/* _________________________________________________ */

.section--nom {
  padding-top : 3vh;
}

.section--email {
  padding-top: 3vh;
}

.country {
  padding-top : 3vh;
}
/* __________________________________________________ */
/*           #STATE                                   */
/* _________________________________________________ */

.fa {
  padding: 2vh;
  font-size: 2vh;
  width: 2vh;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 5vh;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fnameerror, .lnameerror, .emailerror, .genreerror, .comerror {
  background-color : #303030;
  color : #fff;
  border-radius : 12px;
}
